<h1>Kanban</h1>

<h2>Creación de tareas</h2>
<h3>Descripción</h3>
<input type="text" />
<h3>Estado</h3>
<select name="" id="">
  <option value="">Por hacer</option>
  <option value="">En progreso</option>
  <option value="">Finalizado</option>
</select>
<h3>Categoría</h3>
<select name="" id="">
  <option value="">Trabajo</option>
  <option value="">Hogar</option>
  <option value="">Educación</option>
  <option value="">Personal</option>
</select>
<h3>Prioridad</h3>
<select name="" id="">
  <option value="">Alta</option>
  <option value="">Media</option>
  <option value="">Baja</option>
</select>
